<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym (Group Project)</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body class="container bg-dark text-light d-flex .flex-sm-column .flex-md-column mt-5 my-auto">
    <div class="container py-5 h-100">
        <img src="./images/hero.jpg" alt="" class="img-fluid">
    </div>
    <div class="my-auto">
        <h1 class="">Join The Ultimate Spartan Challenge!</h1>
        <ol>
           <li>Are you a go getter?</li>
           <li>Do you LOVE competition?</li>
           <li>Need some EXTRA motivation to go hard?</li>
        </ol>
        <h2 class="Challenge">This is the Challenge for YOU!</h2>
           <p>Sparta gym is hosting our annual Spartan Challenge. If you would like to participate please sign up and Register below! Goodluck!</p>
        <h2> Sign in and Register!</h2>
    <button type="button" class="btn btn-primary"><a href="/login" class="text-light ml-1"> Login</a></button>
     <button type="button" class="btn btn-primary"><a href="/signup" class="text-light"> Signup</a></button>
    </div>
</body>
</html>