<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>This is where information regarding the user will go. This will also include editable information</h2>

    <p>This will be where the tips and some inforamtion regarding working out will go.</p>

    <a href="">Click to see your exercises</a>

    <a href="/logout">Logout</a>
</body>
</html>